<div class="jumbotron text-center">
    <h1 class="display-3">{{title}} </h1>
    <p class="lead">Add video idea for your next Youtube video through the VidJot</p>
    <a href="/ideas/add" class="btn btn-dark btn-lg bg-primary">Add Video Idea</a>
</div>