{{#each ideas}}
    <div class="card card-body mb-2">
        <h3>{{title}}</h3>
        <h5>{{details}}</h5>
        <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block">Edit Idea</a>
    </div>
{{else}}
    <h5>No Video Ideas</h5>
{{/each}}